@{
    ViewData["product"] = "menu-open";
    ViewData["product-create"] = "active";
}
@model RetailShop.Models.Product

@section csslinks {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
          integrity="sha384-k6RqeWeci5ZR/Lv4MR0sA0FfDOMhUs4iqYMyJs31/0Y2mRmGJXLbBICF/xS9WSjb"
          crossorigin="anonymous">
}

@section jslinks {
    <script>
        function previewImage(event) {
            var reader = new FileReader();
            reader.onload = function () {
                var output = document.getElementById('hinhanh-preview');
                output.src = reader.result;
            };
            reader.readAsDataURL(event.target.files[0]);
        }
    </script>
}

<form method="post" asp-controller="Product" asp-action="Update" enctype="multipart/form-data">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Edit Product Information</h3>
        </div>

        <div class="card-body">
            <div class="row form">
                <div class="col-md-7">
                    <input type="hidden" asp-for="ProductId" />

                    <div class="form-group">
                        <label>Product Name</label>
                        <input type="text" class="form-control" asp-for="ProductName" required />
                    </div>

                    <div class="form-group">
                        <label>Supplier</label>
                        <select class="form-control" asp-for="SupplierId" asp-items="ViewBag.Suppliers" required></select>
                    </div>

                    <div class="form-group">
                        <label>Category</label>
                        <select class="form-control" asp-for="CategoryId" asp-items="ViewBag.Categories" required></select>
                    </div>

                    <div class="form-group">
                        <label>Barcode</label>
                        <input type="text" class="form-control" asp-for="Barcode" disabled />
                    </div>

                    <div class="form-group">
                        <label>Price</label>
                        <input type="number" step="0.01" class="form-control" asp-for="Price" required />
                    </div>

                    <div class="form-group">
                        <label>Unit</label>
                        <input type="text" class="form-control" asp-for="Unit" required />
                    </div>

                    <div class="form-group">
                        <label>CreatAt</label>
                        <input type="text" class="form-control" asp-for="CreatedAt" disabled />
                    </div>

                </div>
                    <div class="col-md-5 d-flex align-items-center justify-content-center">
                        <div class="form-group text-center">
                            <label class="mb-3">Hình ảnh sản phẩm</label>
                            <div class="tm-product-img-dummy mx-auto">
                                <img id="hinhanh-preview"
                                 src="@(string.IsNullOrEmpty(Model.ProductImage) ? "/Admin/dist/img/default-150x150.png" : Model.ProductImage)"
                                     alt="Preview"
                                     style="width: 100%; height: 100%; max-width: 300px; max-height: 300px; object-fit: cover;"
                                     class="img-fluid" />
                            </div>
                            <div class="custom-file mt-3 mb-3">
                                <input asp-for="ProductImage"
                                       id="ProductImage"
                                       name="ImageFile"
                                       type="file"
                                       style="display:none;"
                                       accept="image/*"
                                       onchange="previewImage(event)" />
                                <input type="button" class="btn btn-primary btn-block" value="Tải ảnh lên"
                                       onclick="document.getElementById('ProductImage').click();" />
                            </div>
                        </div>
                    </div>
			</div>
        </div>

        <div class="card-footer">
            <button type="submit" class="btn btn-primary">Update</button>
        </div>
    </div>
</form>
