@{

    ViewData["promotion"] = "menu-open";
    ViewData["promotion-create"] = "active";
}
@model RetailShop.Models.Promotion

@section csslinks {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha384-k6RqeWeci5ZR/Lv4MR0sA0FfDOMhUs4iqYMyJs31/0Y2mRmGJXLbBICF/xS9WSjb" crossorigin="anonymous">

}

@section jslinks {

}

<form method="post" asp-controller="promotion" asp-action="update">
    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Edit Promotion Information</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>

        <div class="card-body">
            <div class="row form">
                <div class="col-md ">
                    <div class="form-group" hidden>
                        <input type="text" class="form-control" name="promoId" asp-for="PromoId" required>
                    </div>
                    
                    @if (Model.StartDate < DateOnly.FromDateTime(DateTime.Today))
                    {
                        <div class="form-group">
                            <label>Promo Code</label>
                            <input type="text" class="form-control" name="promocode" asp-for="PromoCode" readonly>
                        </div>

                        <div class="form-group">
                            <label>Description</label>
                            <input type="text" class="form-control" name="description" asp-for="Description" readonly>
                        </div>

                        <div class="form-group">
                            <label>Discount Type</label>
                            <select class="form-control" name="discounttype" asp-for="DiscountType" readonly>
                                <option value="percent">%</option>
                                <option value="fixed">VND</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label>Discount Value</label>
                            <input type="number" step="0.01" class="form-control" name="discountvalue" asp-for="DiscountValue" readonly>
                        </div>

                        <div class="form-group">
                            <label>Start Date</label>
                            <input type="date"
                                   class="form-control"
                                   name="startdate"
                                   asp-for="StartDate"
                                   readonly 
                                   disabled/>
                        </div>

                        <div class="form-group">
                            <label>End Date</label>
                            <input type="date" class="form-control" name="enddate" asp-for="EndDate" required>
                        </div>

                        <div class="form-group">
                            <label>Minimum Order Amount</label>
                            <input type="number" step="0.01" class="form-control" name="minorderamount" asp-for="MinOrderAmount" readonly>
                        </div>

                        <div class="form-group">
                            <label>Usage Limit</label>
                            <input type="number" class="form-control" name="usagelimit" asp-for="UsageLimit">
                        </div>

                        <div class="form-group">
                            <label>Used Count</label>
                            <input type="number" class="form-control" name="usedcount" asp-for="UsedCount" >
                        </div>

                        <div class="form-group">
                            <label>Status</label>
                            <select class="form-control" name="status" asp-for="Status" >
                                <option value="active">active</option>
                                <option value="inactive">inactive</option>
                            </select>
                        </div>
                    }
                    else
                    {
                        <div class="form-group">
                            <label>Promo Code</label>
                            <input type="text" class="form-control" name="promocode" asp-for="PromoCode">
                        </div>

                        <div class="form-group">
                            <label>Description</label>
                            <input type="text" class="form-control" name="description" asp-for="Description">
                        </div>

                        <div class="form-group">
                            <label>Discount Type</label>
                            <select class="form-control" name="discounttype" asp-for="DiscountType">
                                <option value="percent">%</option>
                                <option value="fixed">VND</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label>Discount Value</label>
                            <input type="number" step="0.01" class="form-control" name="discountvalue" asp-for="DiscountValue">
                        </div>

                        <div class="form-group">
                            <label>Start Date</label>
                            <input type="date"
                                   class="form-control"
                                   name="startdate"
                                   asp-for="StartDate"
                                   required />
                        </div>


                        <div class="form-group">
                            <label>End Date</label>
                            <input type="date" class="form-control" name="enddate" asp-for="EndDate">
                        </div>

                        <div class="form-group">
                            <label>Minimum Order Amount</label>
                                <input type="number" step="0.01" class="form-control" name="minorderamount" asp-for="MinOrderAmount">
                        </div>

                        <div class="form-group">
                            <label>Usage Limit</label>
                            <input type="number" class="form-control" name="usagelimit" asp-for="UsageLimit">
                        </div>

                        <div class="form-group">
                            <label>Used Count</label>
                            <input type="number" class="form-control" name="usedcount" asp-for="UsedCount" >
                        </div>

                        <div class="form-group">
                            <label>Status</label>
                            <select class="form-control" name="status" asp-for="Status">
                                <option value="active">active</option>
                                <option value="inactive">inactive</option>
                            </select>
                        </div>

                    }

                </div>

            </div>

        </div>

        <div class="card-footer">
            <button type="submit" class="btn btn-primary">Update</button>
        </div>
    </div>

    <!-- /.card -->
</form>