@inherits LayoutComponentBase

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link href="css/app.css" rel="stylesheet" />
    <link href="/css/auth.css" rel="stylesheet" />
</head>
<body>
    <div class="auth-layout">
        @Body
    </div>
</body>
</html>
