body {
    background: #f3f7ff;
    font-family: "Segoe UI", Roboto, Arial, sans-serif;
    margin: 0;
}

.content-area {
    background: #f9fbff;
    border-radius: 16px;
}

.filter-bar .form-control {
    border: 1px solid #e5e7eb;
    border-radius: 10px;
    font-size: 14px;
    color: #333;
}

.filter-bar .btn {
    border-radius: 10px;
}

.table th {
    font-weight: 600;
    font-size: 14px;
    border-radius: 24px;
    background-color: #EEEEEE;
}

.table td {
    font-size: 14px;
    vertical-align: middle;
}

.table tr:hover {
    background-color: #f6f9ff;
}

.status.done {
    color: #16a34a;
    font-weight: 500;
}

.status.canceled {
    color: #dc2626;
    font-weight: 500;
}

.badge-status {
    padding: 4px 10px;
    border-radius: 12px;
    font-size: 12px;
    font-weight: 500;
}

    .badge-status.paid {
        background-color: #ecfdf5;
        color: #059669;
    }

    .badge-status.unpaid {
        background-color: #fef2f2;
        color: #dc2626;
    }

#startDate, #endDate, #startTime, #endTime {
    height: 40px;
}
