
@{
    <!-- Header -->
    <div class="header-bar">
        <div class="header-left">
            <button class="btn" style="border: none; background: none;" id="toggleSidebarBtn">
                <i class="fas fa-bars fa-lg"></i>
            </button>
            <div class="header-date">
                <i class="far fa-calendar"></i>
                <span id="currentDate"></span>
            </div>
            <div class="header-date">
                <i class="far fa-clock"></i>
                <span id="currentTime"></span>
            </div>
        </div>
        <div class="order-status open">
            <i class="fas fa-circle" style="font-size: 8px;"></i>
            <span>Open Order</span>
        </div>
        <button class="btn" style="border: none; background: none;">
            <i class="fas fa-power-off fa-lg"></i>
        </button>
    </div>
}
